table {
  border: 1px #fff solid;
  text-align: center;
  display: inline-block;
}

tr { 
  border: 1px #fff solid;
}

th {
  border: 1px #fff solid;
}

td {
  border: 1px #fff solid;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}